/*box list*/
.shadow-box {
    background-color: #fff;
    margin-bottom: 14px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 1px 1px rgba(209, 212, 221, 0.15);
    border-radius: 0;
}
.filter {
    border-bottom: 1px solid #ebebeb;
    height: 50px;
    background-color: #fff;
}

.stream-list {
    background-color: #f1f1f1;
}
.p-rank {
    margin-top: 10px;
    margin-bottom: 10px;
}
.stream-item .summary {
    overflow: hidden;
    padding-top: 10px;
    font-size: 14px;
}
.p-stream .stream-item {
    /*padding-bottom: 10px;*/
    /*padding-top: 10px;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    padding: 10px 20px;
    margin-bottom: 4px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    background-color: #FFF;
}
.p-rank {
    margin-bottom: 15px;
}
.p-rank .users .ava {
    width: 20px;
    height: 20px;
    float: left;
}
.img-circle {
    transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    border-radius: 50%;
}

.img-circle:hover {
    transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.p-rank .users .info {
    float: left;
    padding-left: 12px;
}
.article-title .h2-title{
    font-size: 18px;
    font-weight:bold;
    display: inline;
    vertical-align: -2px;
    margin-left: 10px;
    color: #009688;
}

.article-title :hover{
    color:#38b7ea;
}
.summary a:hover {
    color:#333;
}
.ul-filter{
    padding-top: 10px;
    padding-left:13px;
}

/* Right-------------------------------------------------- */
.side-right ul.list {
    margin: 0;
    padding-left: 2px;
}

.side-right ul.list li {
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size: 12px;
    background-color: #ebebeb;
    border: 1px solid #fff;
    padding-left: 3px;
    color:#303030;
}

.side-right ul.list a:hover {
    color:#38b7ea;
}
.list-body{
    padding: 10px;
}

/*head*/
.headroom {
    background-color:#393D49!important;
    /*background-color:#009a61!important;*/
}
.site-header .navbar-nav > li > a{
    color: #ffffff;
}
.site-header .navbar-button > li a.plus {
    display: inline-block;
    padding: 7px 10px;
    margin: 10px 0 10px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: aliceblue;
}
.site-header .navbar-button > li > a.user {
    padding: 10px 10px;
    line-height: 30px;
    position: relative;
    display: block;
    color: aliceblue;
}

/*index page*/
.contact-box {
    background-color: #ffffff;
    height: 88px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
}

.user-nav .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.rowattr h2.padding {
    font-size: 16px;
    margin-bottom: 8px;
    text-indent: 8px;
}

.contact-box .imgattr {
    width: 40px;
    height: 36px;
    float: left;
}
.contact-box .imgattr .img-circle {
    border-radius: 50%;
    transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
h3.padding {
    font-size: 17px;
    text-align: left;
    text-indent: 1px;
    padding-top: 4px;
}

/* column edit*/
.column-inputbox {
    background-color: #fff;
    padding-right: 30px;
    padding-bottom: 30px;
}

.form-back {
    background-color: #F8F8F8;
}

.update_logo {
    width: 240px;
    min-height: 240px;
    margin: 10px auto;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 3px;
}

.update_logo img {
    width: 240px;
    height: 240px;
}

.logo-box {
    width: 100px;
    min-height: 100px;
    margin: auto;
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 3px;
}

.colbox-inline {
    height: 60px;
    margin-top: 2px;
    border-bottom: 1px solid #ebebeb;
}

.li-group-img {
    width: 50px;
    height: 50px;
}

.column-atag {
    padding-right: 10px;
}

td input {
    margin-right: 5px;
}

td input.input-button {
    margin-right: auto;
}

td input.act-button {
    margin-right: 4px;
}

input.tab-input {
    border: 0px;
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 100%;
}
