/*box list*/
.shadow-box {
    background-color: #fff;
    margin-bottom: 14px;
    border: 1px solid #ebebeb;
    box-shadow: 0px 1px 1px rgba(209, 212, 221, 0.15);
    border-radius: 0;
}
.filter {
    border-bottom: 1px solid #ebebeb;
    height: 50px;
    background-color: #fff;
}

.stream-item .summary {
    overflow: hidden;
    padding-top: 10px;
    font-size: 14px;
}
.p-stream .stream-item {
    padding: 10px 20px;
    margin-bottom: 0px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

.p-stream .stream-item:hover {
    background-color: #F9F9F9;
}
.p-rank {
    margin-top: 10px;
    margin-bottom: 15px;
}
.p-rank .users .ava {
    width: 20px;
    height: 20px;
    float: left;
}
.img-circle {
    transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    border-radius: 50%;
}

.img-circle:hover {
    transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.p-rank .users .info {
    float: left;
    padding-left: 12px;
}
.article-title .h2-title{
    font-size: 18px;
    display: inline;
    vertical-align: -2px;
    margin-left: 10px;
}

.article-title :hover{
    color: red;
}
.summary a:hover {
    color:#333;
}
.ul-filter{
    padding-top: 10px;
    padding-left:13px;
}

/* Right-------------------------------------------------- */
.side-right ul.list {
    margin: 0;
    padding-left: 2px;
}

.side-right ul.list li {
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*border-bottom: 1px solid #ebebeb;*/
    color:#303030;
}

.side-right ul.list a:hover {
    color: red;
}
.list-body{
    padding: 10px;
}

/*head*/
.headroom {
    background-color:#393D49!important;
    /*background-color:#009a61!important;*/
}
.site-header .navbar-nav > li > a{
    color: #ffffff;
}
.site-header .navbar-button > li a.plus {
    display: inline-block;
    padding: 7px 10px;
    margin: 10px 0 10px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: aliceblue;
}
.site-header .navbar-button > li > a.user {
    padding: 10px 10px;
    line-height: 30px;
    position: relative;
    display: block;
    color: aliceblue;
}

/*index page*/
.contact-box {
    background-color: #ffffff;
    height: 88px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
}

.user-nav .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.rowattr h2.padding {
    font-size: 16px;
    margin-bottom: 8px;
    text-indent: 8px;
}

.contact-box .imgattr {
    width: 40px;
    height: 36px;
    float: left;
}
.contact-box .imgattr .img-circle {
    border-radius: 50%;
    transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
h3.padding {
    font-size: 17px;
    text-align: left;
    text-indent: 1px;
    padding-top: 4px;
}

/* column edit*/
.column-inputbox {
    background-color: #fff;
    padding-right: 30px;
    padding-bottom: 30px;
}

.form-back {
    background-color: #F8F8F8;
}

.update_logo {
    width: 240px;
    min-height: 240px;
    margin: 10px auto;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 3px;
}

.update_logo img {
    width: 240px;
    height: 240px;
}

.logo-box {
    width: 100px;
    min-height: 100px;
    margin: auto;
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 3px;
}

.colbox-inline {
    height: 60px;
    margin-top: 2px;
    border-bottom: 1px solid #ebebeb;
}

.li-group-img {
    width: 50px;
    height: 50px;
}

.column-atag {
    padding-right: 10px;
}

td input {
    margin-right: 5px;
}

td input.input-button {
    margin-right: auto;
}

td input.act-button {
    margin-right: 4px;
}

input.tab-input {
    border: 0px;
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 100%;
}

/*column view*/
.side-box {
    background: #fff;
    margin: 0 -20px 20px 0;
    padding: 4px;
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    border-radius: 2px;
}
.left-title {
    margin-top: -4px;
    margin-left: -4px;
    margin-right: -4px;
    padding: 6px 6px 6px 12px;
    overflow: hidden;
    background-color: #F7F7F7;
    border-radius: 2px;
    font-size: 16px;
}

.leftcolumnlist {
    padding: 2px;
    margin-top: 5px;
    overflow: hidden;
    border-radius: 2px;
}
.leftcolumnlist a {
    line-height: 20px;
    background-color: #F8F8F8;
    text-decoration: none;
    display: block;
    padding: 4px;
    border-bottom: 2px solid #fff;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leftcolumnlist a:hover {
    color: #fff;
    background-color: #A8A8A8;
}

.leftcolumnlist a:active {
    font-weight: bold;
}



/*right-box*/
.right-box {
    padding-left: 0px;
    padding-right: 23px;
    margin-left: -5px;
}

.side-right-box {
    border-radius: 2px;
    background-color: #fff;
    padding: 8px 8px 1px 8px;
}

.side-right-list > ul > li {
    height: 28px;
    position: relative;
    display: block;
    border-bottom: 2px solid #fff;
    background-color: #F8F8F8;
}

.side-right-list .item-box {
    margin-left: -40px;
    text-align: center;
}

.side-right-list .hidden-item {
    padding: 4px 2px 4px 2px;
    width: 300px;
    position: absolute;
    background: #F8F8F8;
    right: 100%;
    top: 0;
    display: none;
    float: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.side-right-list .hidden-item li {
    width: 47%;
    padding: 6px 4px 6px 4px;
    border-bottom: 1px solid #fff;
    font-size: 13px;
    float: left;
    display: inline;
    margin-left: 4px;
    margin-right: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.right-title {
    background-color: #F7F7F7;
    text-align: center;
    padding: 8px;
    font-size: 16px;
}

/********************************************************************************************/

.demoso-content-view {
    padding: 0 0 10px 0;
    font: 13px Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.7;
    color: #000;
    outline: none;
    word-wrap: break-word;
}

.demoso-content-view h1 {
    font-size: 20px;
}

.demoso-content-view h2 {
    font-size: 16px;
}

.demoso-content-view h1, .demoso-content-view h2, .demoso-content-view h3, .demoso-content-view h4, .demoso-content-view h5, .demoso-content-view h6 {
    font-family: "微软雅黑";
    margin: 20px 0 10px;
    font-weight: 600;
    color: #000000;
    line-height: 1.7;
}

.demoso-content-view hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid #aaa;
    margin: 15px 0;
    padding: 0;
}

.demoso-content-view p {
    word-wrap: break-word;
    margin: 0 0 5px;
    color: #000;
    line-height: 1.7;
}

.demoso-content-view code {
    display: inline-block;
    padding: 0 4px;
    margin: 0 5px;
    background-color: #f9f2f4;
    border-radius: 3px;
    font-size: 13px;
    color: #003E3E;
    font-family: Consolas, "Courier New", Courier, monospace;
}

.demoso-content-view .example {
    background-color: #EFEFEF;
    font-size: 14px;
    color: #333;
    border: 1px solid #DDD;
    margin: 10px 0;
    padding: 10px 15px;
    max-width: 700px;
}

.demoso-content-view h2.example, .demoso-content-view h2.example_head {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #005757;
    margin-bottom: 10px;
    border: none;
}

.example_code, .demoso-content-view .example_result {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 10px;
    font-size: 14px;
    font-family: Consolas, "Courier New", Courier, monospace;
    line-height: 1.7;
}

.demoso-content-view a.tryitbtn, .demoso-content-view a.showbtn, .demoso-content-view a.playitbtn {
    display: inline-block;
    padding: 5px;
    font-size: 13px;
    background-color: #00CACA;
    color: #FFF;
    border-radius: 2px;
    text-decoration: none;
}

.demoso-content-view a {
    color: #007979;
    text-decoration: underline;
    word-break: break-all;
}

.demoso-content-view span.new {
    float: right;
    color: #fff;
    background-color: #009393;
    padding-left: 1px;
    padding-right: 1px;
    border: 1px solid #fff;
    outline: 1px solid #00AEAE;
    line-height: 16px;
}

.demoso-content-view table.reference, table.tecspec {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 4px;
}

.demoso-content-view table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 15px 0;
}

.demoso-content-view table th {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2px 4px;
}

.demoso-content-view table.reference tr:nth-child(2n+1) {
    background-color: #EFEFEF;
}

.demoso-content-view table.reference th {
    background-color: #bdbdbd;
    border: 1px solid #bdbdbd;
    border-bottom: none;
    color: #FFF;
    font-size: 14px;
    padding: 3px;
    vertical-align: top;
    text-align: left;
    font-weight: bold;
}

.demoso-content-view table.reference td {
    border: 1px solid #DDD;
    padding: 7px 5px;
    vertical-align: top;
    font-size: 14px;
}

.demoso-content-view table td {
    min-width: 40px;
    height: 30px;
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 2px 4px;
    box-sizing: border-box;
}

.demoso-content-view pre code {
    display: block;
    padding: 0;
    margin: 0;
    background: none;
    border-radius: 0;
    color: #333;
}

.demoso-content-view pre, .demoso-content-view .code {
    width: auto;
    max-width: 700px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    word-wrap: break-word !important;
    /* white-space: pre-wrap !important;*/
    padding: 10px 5px;
    margin: 15px 0;
    display: block;
    line-height: 1.7;
    background: #efefef;
    border-radius: 3px;
    font-size: 13px;
    font-family: Consolas, "Courier New", Courier, monospace;
    /* white-space: pre;*/
    word-wrap: normal;
    overflow-x: auto;
    border: 1px solid #DDD;
}

.demoso-content-view ul {
    list-style: disc outside none;
    margin: 10px 0;
    padding: 0 0 0 30px;
    line-height: 1.7;
}

.demoso-content-view li {
    list-style-type: inherit;
}

.demoso-content-view table.lamp {
    width: 100%;
    padding: 0px;
    border: 1px solid #DDD;
}

.demoso-content-view table.lamp th {
    color: #666;
    background-color: #FFF;
    padding: 10px 5px 10px 10px;
}

.demoso-content-view table.lamp td {
    padding: 4px 10px 4px 0px;
    background-color: #FFF;
    border: none;
    vertical-align: middle;
}

.demoso-content-view .hl-default {
    color: #000
}

.demoso-content-view .hl-code {
    color: Gray
}

.demoso-content-view .hl-brackets {
    color: Olive
}

.demoso-content-view .hl-comment {
    color: #a50
}

.demoso-content-view .hl-quotes {
    color: #8b0000
}

.demoso-content-view .hl-string {
    color: #a11
}

.demoso-content-view .hl-identifier {
    color: #05a
}

.demoso-content-view .hl-builtin {
    color: Teal
}

.demoso-content-view .hl-reserved {
    color: Green
}

.demoso-content-view .hl-inlinedoc {
    color: #00f
}

.demoso-content-view .hl-var {
    color: #00008b
}

.demoso-content-view .hl-url {
    color: #00f
}

.demoso-content-view .hl-special {
    color: Navy
}

.demoso-content-view .hl-number {
    color: Maroon
}

.demoso-content-view .hl-inlinetags {
    color: #00f
}

.demoso-content-view .hl-main {
    background-color: #fff;
    font-family: "Courier New", monospace;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word
}

.demoso-content-view .hl-gutter {
    background-color: #999;
    color: #fff
}

.demoso-content-view .hl-table {
    font-family: courier;
    font-size: 12px;
    border: solid 1px #d3d3d3
}

/********************/
.side-my-left {
    background-color: #FAFAFA;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    padding: 15px;
    margin-right: -15px;
}

.myleft-user {
    background-color: #FAFAFA;
    margin: 0px 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}

.myleft-user .ava {
    float: left;
    padding: 15px;
}

.myleft-user .ava img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.myleft-user .user-info {
    padding: 15px 15px 15px 0;
    overflow: hidden;
}

.myleft-user .nk {
    font-size: 16px;
}

.mt3 {
    margin-top: 3px;
}

.m10 {
    margin: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb6 {
    margin-bottom: 6px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.pdl10 {
    padding-left: 10px;
}

.pd20 {
    padding: 20px;
}

.pd50 {
    padding: 50px;
}

a.act_edit {
    background-color: rgb(0, 181, 173);
    border-color: rgb(0, 181, 173);
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    margin-right: 5px;
    padding: 2px 6px;
    border-radius: 2px;
}

a.act_delete {
    background-color: #FF5F5F;
    border-color: #e82828;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    margin-right: 5px;
    padding: 2px 6px;
    border-radius: 2px;
}

a.act_editarticle {
    background-color: #1cba11;
    border-color: #5cb85c;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    margin-right: 5px;
    padding: 2px 6px;
    border-radius: 2px;
}

a.act_view {
    background-color: #E8E8E8;
    border-color: #909090;
    font-size: 12px;
    line-height: 22px;
    margin-right: 5px;
    padding: 2px 6px;
    border-radius: 2px;
}

.stream-item .title {
    display: block;
    margin: 0 0 10px 0;
    color: #333;
    font-size: 16px;
}


/*right users*/
.right-user {
    border-bottom: solid 1px #ebebeb;
    padding-bottom: 10px;
}

.right-user img {
    margin-left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.right-user .midspan {
    position: relative;
    top: 8px;
    display: inline-block;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 6px;
}

a.act_follow {
    background-color: rgb(0, 181, 173);
    border-color: rgb(0, 181, 173);
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    padding: 2px 6px;
    border-radius: 2px;
    width: 20%;
}

.about-user-datas {
    padding-top: 10px
}

.about-user-datas ul {
    width: 100%;
    height: 50px;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.about-user-datas ul li {
    float: left;
    width: 120px;
    height: 50px;
    text-align: center;
    border-right: 1px solid #e8e8e8;
}

.about-user-datas ul li:last-child {
    border-right-width: 0;
}

.about-user-datas ul li strong {
    height: 26px;
    line-height: 26px;
    font-size: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
    color: rgb(0, 181, 173);
}

.about-user-datas ul li span {
    font-size: 12px;
    color: #999;
}

.user-classify-data .atag {
    padding: 3px 0px 3px 30px;
    border-right: solid 1px #e8e8e8;
}
/**********index***********/
.time-list {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    white-space: normal;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /*background-color: #ffecec;*/
}

.time-list li {
    float: left;
    padding-left: 10px;
    width: 197px;
    height: 30px;
    padding-right: 10px;
    line-height: 30px;
    overflow: hidden;
    color: #c2c2c2;
    cursor: pointer;
    position: relative;
    transition: all .2s ease;
    border-radius: 1px;
    /*background-color: #d2e8b9;*/
}

.time-list li:hover {
    background-color: #F0F0F0;

}
.time-list li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #777;
    overflow: hidden;
    border-radius: 2px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    position: absolute;
    white-space: nowrap;
}

.time-list li a .img-wh {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.panel-heading-bgcolor {
    /*background-color: #F8F8F8;*/
}

.panel-radius .corner-radius {
    border-radius: 5px;
}